.comment-info .author {
    font-size: 13px;
    text-decoration: none !important;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem
}

.comment-panel-item .comment-info .author>span {
    padding-right: 0;
    max-width: 20.7rem;
    line-height: 15px;
    font-size: 12px
}

.comment-panel-item .emj.is-sticker-1 {
    transform: scale(.45);
    margin: -65px
}

.comment-panel-item .comment-info .author,
.comment-info .date,
.comment-info .date {
    font-size: 12px;
    line-height: 20px;
    color: var(--color-grey)
}

.comment-content {
    font-size: 13px !important;
    color: var(--color-black);
    margin-bottom: 0;
    line-height: 21px;
    position: relative
}

.comment-content .link {
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom
}

.comment-content .emj {
    vertical-align: bottom
}

.comment-img {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px
}

.comment-img img {
    max-width: 100%;
    border-radius: 5px
}

.comment-job-1 img {
    max-height: 143px
}

.comment-content-images {
    margin: 10px 0
}

.comment-metablock {
    padding: 0 1rem;
    margin-top: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.comment-crt-response .comment-metablock {
    padding: 0
}

.comment-metablock .comments-count {
    display: none
}

.comment-pin {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: -100;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    color: var(--color-grey);
    opacity: 0;
    transition: 0.3s opacity
}

.comment-pin .mask {
    background: var(--color-grey)
}

.comment-metablock span {
    text-decoration: none !important;
    font-size: 12px !important;
    cursor: pointer
}

.fu_comment,
.comment-metablock .copyed {
    color: var(--color-dark-grey)
}

.reply_comment,
.fu_comment+span {
    margin-left: 20px
}
